/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.upvotes {
    display: inline;
    color: green;
    font-weight: bold;
}

.downvotes {
    display: inline;
    color: red;
    font-weight: bold;
}

.vote-icon {
    cursor: pointer;
}

.bad-word {
    filter: grayscale(1);
}

blockquote {
    border-left: 1px solid maroon;
    padding-left: 5px;
    font-size: 18px;
    font-style: italic;
}

.intro {
    font-size: 16px;
    padding: 20px;
}

.inline-form {
    display: inline;
}

.current-user {
    padding-right: 10px;
    font-size: 16px;
}

.description-text-area {
    height: 80px;
    width: 80%;
    margin-bottom: 5px;
}

.word-tags {
    margin-left: 5px;
}

.main-entry {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
}
